body {
  margin: 0%;
}

.main-container {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-areas:
  'title title title'
  'orange-block pink-block purple-block';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 935px;
  height: 750px;
  margin: 0 auto;
}

.title { 
  grid-area: title;
  background-color: turquoise;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  }
  
  .orange-block {
  grid-area: orange-block;
  background-color: slategrey;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  }
  
  .pink-block {
  grid-area: pink-block;
  background-color: slategray;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  }
  
  .purple-block {
    grid-area: purple-block;
    background-color: slategray;
    font-family: 'Montserrat', sans-serif;
  text-align: center;
  }

  #orange-reg {
    width: 170px;
    height: 30px;
    background: chocolate;
    margin: auto;
    margin-top: 30px;
  }

  #pink-reg {
    width: 170px;
    height: 30px;
    background: pink;
    margin: auto;
    margin-top: 30px;
  }
  
  #purple-reg {
    width: 170px;
    height: 30px;
    background: purple;
    margin: auto;
    margin-top: 30px;
  }
  
  h3 {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  h1 {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (max-width: 576px) {
    .main-container {
      display: grid;
      grid-template-areas: 
      '... title ...'
      '... orange-block ...'
      '... purple-block ...'
      '... pink-block ...';
    }
  }

